{% extends "tracker/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  <div class="card">
    <form method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div style="margin-bottom:12px;">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      {{ form.as_p }}

      <button type="submit">Save</button>
      <a href="javascript:history.back()" style="margin-left:12px;">Cancel</a>
    </form>
  </div>
{% endblock %}